---
layout: default
---

<h1 class='blog-title'>{{ site.title }}</h2>

<section>
	<ul>

		{% for post in site.posts %}

		<li>
			<div class="post-date">
				<span>{{ post.date | date: "%b %d, %Y" }}</span>
			</div>
			<div class="title">
				<a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
			</div>
		</li>

		{% endfor %}

	</ul>
</section>
