<aside class="logo">

	{% if page.url == '/index.html' or page.url == '/' %}
		{% assign link = '/about' %}
		{% assign prompt = 'About the Author' %}
	{% else %}
		{% assign link = '/' %}
		{% assign prompt = 'Back to Home' %}
	{% endif %}
<!--
	<a href="{{ link | prepend: site.baseurl }}">
		<img src="assets/avatar.jpg" class="gravatar">
	</a>
-->
  <a href="{{ link | prepend: site.baseurl }}">
    <img src="http://www.gravatar.com/avatar/{{ site.author_gravatar }}.png?s=80" class="gravatar">
	</a>

	<span class="logo-prompt">{{ prompt }}</span>

</aside>
